{:paths ["resources" "src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.clojure/tools.cli {:mvn/version "0.4.1"}
        org.clojure/tools.logging {:mvn/version "0.4.1"}
        org.clojure/data.json {:mvn/version "0.2.6"}

        me.raynes/fs {:mvn/version "1.4.6"}
        org.apache.maven/maven-artifact {:mvn/version "3.6.0"}}
 :jvm-opts ["-Djava.io.tmpdir=./tmp"]
 :aliases {:dev {}
           :test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}
                               lambdaisland/kaocha {:mvn/version "0.0-389"}
                               metosin/testit {:mvn/version "0.3.0"}
                               pjstadig/humane-test-output {:mvn/version "0.9.0"}}
                  :main-opts ["-m" "kaocha.runner"]}
           :runner {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                            :sha "76568540e7f40268ad2b646110f237a60295fa3c"}}
                    :main-opts ["-m" "cognitect.test-runner"
                                "-d" "test"]}
           :display {:main-opts ["-m" "metav.display"]}
           :release {:main-opts ["-m" "metav.release"
                                 "--spit"
                                 "--output-dir" "src"
                                 "--namespace" "metav.meta"
                                 "--formats" "clj"]}
           :spit    {:main-opts ["-m" "metav.spit"
                                 "--output-dir" "src"
                                 "--namespace" "metav.meta"
                                 "--formats" "clj"
                                 "--module-name-override" "testover"]}}}
